root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 2
indent_style = space

[*.{py,pyi}]
indent_size = 4

[*.cfg]
indent_size = 8

[Makefile]
indent_style = tab
