[tool.poetry]
name = "api-client-pydantic"
version = "1.1.0"
description = "API Client extension for validate and transform requests / responses using pydantic."
authors = ["MaxST <mstolpasov@gmail.com>"]
license = "MIT"
repository = 'https://github.com/mom1/api-client-pydantic'
homepage = 'https://github.com/mom1/api-client-pydantic'
keywords = ['api-client', 'api-client-extension']
readme = 'README.md'
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Environment :: Web Environment',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Topic :: Internet :: WWW/HTTP :: Dynamic Content',
]
include = ['AUTHORS']
packages = [
    { include = 'apiclient_pydantic' },
]

[tool.poetry.dependencies]
python = "^3.7"
api-client = ">1.2.1"
pydantic = "^1.7"

[tool.poetry.dev-dependencies]
# tests
pytest = "^6.2"
pytest-cov = "^2.12"
pytest-env = "^0.6"
requests-mock = "^1.9"
vcrpy = "^4.1"
# formating
yapf = "^0.31"
isort = "^5.9"
# linting
flake8 = "^3.9"
flake8-broken-line = "^0.3"
flake8-bugbear = "^21.4"
flake8-builtins = "^1.5"
flake8-coding = "^1.3"
flake8-commas = "^2.0"
flake8-comprehensions = "^3.5"
flake8-eradicate = "^1.1"
flake8-quotes = "^3.2"
pep8-naming = "^0.12"
mccabe = "^0.6"
# changelog
gitchangelog = {version = "^3.0", extras = ["Mustache"]}
emoji = "^1.4"
# debug
ipdb = "^0.13"
safety = "^1.10"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
